### 通用配置文件 ###

CONFIG_CCACHE=y
CONFIG_PACKAGE_default-settings=y
CONFIG_PACKAGE_default-settings-chn=y
CONFIG_TARGET_PER_DEVICE_ROOTFS=y
CONFIG_LUCI_LANG_zh_Hant=y

# CONFIG_FEED_video is not set
# CONFIG_FEED_nss_packages is not set
# CONFIG_FEED_sqm_scripts_nss is not set
# CONFIG_TARGET_ROOTFS_INITRAMFS is not set

CONFIG_PACKAGE_zram-swap=y
CONFIG_PACKAGE_kmod-lib-lz4=y
CONFIG_KERNEL_ZRAM_BACKEND_LZ4=y
CONFIG_KERNEL_ZRAM_BACKEND_LZO=y
CONFIG_KERNEL_ZRAM_DEF_COMP_LZ4=y

CONFIG_PACKAGE_tmux=y
CONFIG_PACKAGE_dmesg=y
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_btop=y
CONFIG_PACKAGE_fdisk=n
CONFIG_PACKAGE_cfdisk=n
CONFIG_PACKAGE_sgdisk=n
CONFIG_PACKAGE_tune2fs=n
CONFIG_PACKAGE_fstrim=n
CONFIG_PACKAGE_nano-full=y
CONFIG_PACKAGE_autocore=y
CONFIG_PACKAGE_coremark=n
CONFIG_PACKAGE_hdparm=n
CONFIG_PACKAGE_smartmontools-drivedb=y
CONFIG_PACKAGE_zoneinfo-asia=y
CONFIG_PACKAGE_acme-acmesh-dnsapi=y
CONFIG_PACKAGE_ddns-scripts-cloudflare=y
CONFIG_PACKAGE_openssh-sftp-server=y
CONFIG_PACKAGE_sqm-scripts-nss=n

CONFIG_PACKAGE_luci-theme-aurora=y
CONFIG_PACKAGE_luci-app-aurora-config=y
CONFIG_PACKAGE_luci-app-acme=n
CONFIG_PACKAGE_luci-app-ddns=n
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-cpufreq=y
CONFIG_PACKAGE_luci-app-uhttpd=n
CONFIG_PACKAGE_luci-app-watchcat=n

CONFIG_PACKAGE_luci-theme-argon=n
CONFIG_PACKAGE_luci-app-argon-config=n
CONFIG_PACKAGE_luci-app-banip=n
CONFIG_PACKAGE_luci-app-arpbind=n
CONFIG_PACKAGE_luci-app-usb-printer=n
CONFIG_PACKAGE_luci-app-oaf=n
CONFIG_PACKAGE_luci-app-sqm=n
CONFIG_PACKAGE_luci-app-ttyd=n
CONFIG_PACKAGE_luci-app-wechatpush=n
CONFIG_PACKAGE_luci-app-smartdns=n
CONFIG_PACKAGE_luci-app-lucky=n
CONFIG_PACKAGE_luci-app-openclash=n
CONFIG_PACKAGE_luci-app-passwall2=n
CONFIG_PACKAGE_luci-app-wifischedule=n

### PassWall配置项 ###

CONFIG_PACKAGE_luci-app-passwall=n
